statemachine/PowerDialer-control.asl.json
{
  "Comment": "Dialer controller",
  "StartAt": "SetConfigTable",
  "States": {
      "SetConfigTable": {
      "Type": "Pass",
      "Result": {
        "activeDialer": "${ParameterDialerStatus}",
        "dialindex": "${ParameterIndex}"
      },
      "ResultPath": "$.config",
      "Next": "ActivateDialer"
    },
    "ActivateDialer": {
      "Comment": "Activate dialer",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
      "Parameters": {
        "Name": "${ParameterDialerStatus}",
        "Overwrite": true,
        "Value": "True"
      },
      "Next": "GetConfig",
      "ResultPath": null
    },
    "GetConfig": {
      "Comment": "Get configuration parameters from Parameters",
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "deactivateDialerDueError"
        }
      ],
      "Parameters": {
        "FunctionName": "${PowerDialergetConfigArn}",
        "Payload": {
          "Input.$": "$"
        }
      },
      "Next": "Dialer",
      "ResultPath": "$.params",
      "ResultSelector": {
        "totalRecords.$": "$.Payload.totalRecords",
        "table-activedialing.$": "$.Payload.table-activedialing",
        "contactflow.$": "$.Payload.contactflow",
        "connectid.$": "$.Payload.connectid",
        "queue.$": "$.Payload.queue",
        "concurrentCalls.$": "$.Payload.concurrentCalls",
        "dialerThreads.$": "$.Payload.dialerThreads"
      }
    },

    "Dialer": {
      "Type": "Map",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "deactivateDialerDueError"
        }
      ],
      "ResultPath": "$.mapOutput",
      "ItemsPath": "$.params.dialerThreads",
      "InputPath": "$",
      "Parameters": {
        "params.$": "$.params",
        "config.$": "$.config"
      },
      "Iterator": {
        "StartAt": "GetAvailAgents",
        "States": {
          "GetAvailAgents": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${PowerDialergetAvailAgentsArn}",
              "Payload": {
                "params.$": "$.params"
              }
            },
            "Next": "areAgentsAvailable",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ThreadFailed"
              }
            ],
            "ResultSelector": {
              "value.$": "$.Payload.availAgents"
            },
            "ResultPath": "$.availAgents"
          },
          "areAgentsAvailable": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.availAgents.value",
                "NumericGreaterThan": 0,
                "Next": "getContacts"
              }
            ],
            "Default": "WaitForAgents"
          },
          "WaitForAgents": {
            "Type": "Wait",
            "Seconds": 5,
            "Next": "GetDialerStatus"
          },
          "getContacts": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload": {
                "config.$": "$.config",
                "params.$": "$.params",
                "availAgents": 1
              },
              "FunctionName": "${PowerDialergetContactsArn}"
            },
            "ResultSelector": {
              "entries.$": "$.Payload.contacts",
              "EndOfList.$": "$.Payload.EndOfList"
            },
            "ResultPath": "$.contacts",
            "Next": "isListEmpty",
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ThreadFailed"
              }
            ]
          },
          "isListEmpty": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.contacts.EndOfList",
                "StringEquals": "False",
                "Next": "Dial"
              }
            ],
            "Default": "ThreadDeactivateDialer"
          },
          "ThreadDeactivateDialer": {
            "Type": "Task",
            "Next": "ThreadCompleted",
            "Parameters": {
              "Name": "${ParameterDialerStatus}",
              "Overwrite": true,
              "Value": "False"
            },
            "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
            "Comment": "Set activeDialer parameter to false to finish dialing process."
          },
          "ThreadFailed": {
            "Type": "Pass",
            "Next": "Fail"
          },
          "Fail": {
            "Type": "Fail"
          },
          "Dial": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
              "FunctionName": "${PowerDialerdialArn}",
              "Payload": {
                "config.$": "$.config",
                "params.$": "$.params",
                "contacts.$": "$.contacts.entries[0]",
                "TaskToken.$": "$$.Task.Token"
              }
            },
            "Next": "GetDialerStatus",
            "ResultPath": null,
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "ThreadFailed"
              }
            ]
          },
          "GetDialerStatus": {
            "Type": "Task",
            "Parameters": {
              "Name": "${ParameterDialerStatus}"
            },
            "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
            "Next": "isDialerActive",
            "ResultSelector": {
              "value.$": "$.Parameter.Value"
            },
            "ResultPath": "$.params.activeDialer"
          },
          "isDialerActive": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.params.activeDialer.value",
                "StringEquals": "True",
                "Next": "GetAvailAgents"
              }
            ],
            "Default": "ThreadCompleted"
          },
          "ThreadCompleted": {
            "Type": "Pass",
            "Next": "Success"
          },
          "Success": {
            "Type": "Succeed"
          }
        },
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        }
      },
      "Next": "deactivateDialer",
      "Label": "Dialer",
      "MaxConcurrency": 1000,
      "ToleratedFailurePercentage": 50
    },
    "deactivateDialer": {
      "Comment": "Deactivate dialer",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
      "Parameters": {
        "Name": "${ParameterDialerStatus}",
        "Overwrite":true,
        "Value": "False"
      },
      "Next": "dialerFinished"
    },
    "deactivateDialerDueError": {
      "Comment": "Deactivate dialer due a problem",
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
      "Parameters": {
        "Name": "${ParameterDialerStatus}",
        "Overwrite":true,
        "Value": "False"
      },
      "Next": "dialerError"
    },
    "dialerFinished": {
      "Type": "Succeed"
    },
    "dialerError": {
      "Type": "Fail"
    }
  }
}